.footer{
    width: 100%;
    height: 517px;
    background: #7EC4BD;
    font-size: 15px;
    i{
        font-size: 70px;
        color: #fff;
    }
    h1{
        text-align: center;
        
    }
    .footer2{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 70px;
        gap: 100px;
        
        h4{
            margin-top: 30px;
        }
        p{
            margin-top: 30px;
        }
    }
}

.footer-item {
    width: 100%;
    height: 640px;
    background: #000000;
    .footer-box{
        display: flex;
        flex-direction: column;
        form{
            display: flex;
            flex-direction: column;
            margin-top: 90px;
            
        }
    }
}
input{
    width: 564px;
    height: 57px;
    margin-left: 300px;
    background: #545858;
   

}
textarea{
    width: 264px;
    height: 57px;
    margin-left: 300px;
    background: #6a7272;
}
button{
    width: 150px;
    height: 60px;
    text-align: center;
    margin-left: 450px;
    background: #596161;
}


